.stock-name {
    width: 100%;
    display: flex;
}
.stock-name > h2 {
    font-weight: 400;
    font-size: 2em;
    text-align: left;
    color: white;
    margin-bottom: 5px;
}

.about-section {
    width: 100%;
    margin-top: 30px;
}

.sa-header {
    width: 100%;
    font-weight: 400;
    font-size: 1.3em;
    padding: 0px 0px 20px 0px;
    margin-bottom: 0px;
    border-bottom: var(--clr-border);
}

.sa-about {
    font-size: .9em;
    width: 85%;
    line-height: 160%;
}

.pos-read-more, .neg-read-more {
    font-weight: 500;
    cursor: pointer;
    font-size: 1em;
}

.pos-read-more {
    color: var(--clr-primary);
}

.neg-read-more {
    color: var(--clr-secondary);
}

.ua-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ua-right-wrapper, .ua-left-wrapper {
    border: var(--clr-border);
    padding: 1.5em;
    width: 48%;
}

.ua-title {
    font-size: .8em;
    font-weight: 400;
    width: fit-content;
}

.ua-box-header > p {
    margin: 2px;
}

.ua-value {
    font-size: 1.5em;
    width: fit-content;
}

.ua-section {
   display: flex; 
   width: 100%;
   justify-content: space-between;
}

.return-title {
    
}

.ua-inner-section{
    display: flex;
    gap: 5px;
}

.ua-border{
    border-bottom: var(--clr-border);
}

.key-stat-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.key-stat-title{
    font-size: .9em;
}

.stories-container{
    width: 100%;
}

.bns-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    width: 25%;
    max-width: 280px;
    min-width: 280px;
}

.bns-wrapper{
    width: 100%;
    background-color: var(--clr-bp-bg);
    box-shadow: var(--shadow);
    border: var(--clr-border);
    border-radius: 5px;

}

.bns-top{
    display: flex;
    padding: 0px 50px;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: 500;
    border-bottom: var(--clr-border);
}
.bns-click{
    cursor: pointer;
}

.pos-bns{
    color: var(--clr-primary);
    border-bottom: 2px solid var(--clr-primary);
    padding-bottom: 15px;
    margin-bottom: -1px;
    cursor: pointer;
}
.neg-bns{
    color: var(--clr-secondary);
    border-bottom: 2px solid var(--clr-secondary);
    padding-bottom: 15px;
    margin-bottom: -1px;
    cursor: pointer;
}

.bns-shares{
    display: flex;
    margin: 10px 20px 0px 20px;
    justify-content: space-between;
    align-items: center;
}

.bns-shares>input{
    background-color: var(--clr-bns-input);
    text-align: right;
    height: 36px;
    width: 82px;
    border-radius: 3px;
    padding-right: 15px;
}

.bns-market-price{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    font-weight: 700;
    border-bottom: var(--clr-border);
}

.pos-mark-price{
    color: var(--clr-primary);
    font-weight: 300;
}
.neg-mark-price{
    color: var(--clr-secondary);
    font-weight: 300;
}

.bns-estimation{
    display: flex;
    margin: 0px 20px;
    justify-content: space-between;
    font-weight: 700;
}

.bns-complete-order{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    border-bottom: var(--clr-border);
}

.bns-complete-order>button{
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 5px;
    font-size: .8em;
    font-weight: 600;

}

.pos-bns-button{
    background-color: var(--clr-primary);
}
.neg-bns-button{
    background-color: var(--clr-secondary);
}

.pos-bns-button:hover{
    background-color: var(--clr-button-hover-pos);
}
.neg-bns-button:hover{
    background-color: var(--clr-button-hover-neg);
}



.pos-bns-bp{
    color: var(--clr-primary);
}
.neg-bns-bp{
    color: var(--clr-secondary);
}

.bns-bp-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .9em;
}

.bns-bp-error{
    color: var(--clr-secondary);
    font-weight: 700;
}