* {
  font-family: "Barlow";
}

.light {
  --clr-bg: #ffffff;
  --clr-bg-alt: #f5f5f5;
  --clr-font: black;
  --clr-border: 1px solid rgba(0, 0, 0, 0.1);
  --clr-primary: rgb(0, 200, 5);
  --clr-primary-hover: rgba(0, 180, 5, 1);
  --clr-secondary: #ff3434;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}

.dark {
  --clr-bg: #252323;
  --clr-bg-alt: #2a2a2a;
  --clr-font: #ffffff;
  --clr-border: rgba(255, 255, 255, 0.5);
  --clr-primary: #5dd8ff;
  --clr-secondary: #ff344a;
  --shadow: 0px 4px 4px rgba(255, 255, 255, 0.05);
}

button {
  cursor: pointer;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

a {
  text-decoration: none;
  color: var(--clr-font);
}
