/* TODO Add site wide styles */
.light {
--clr-bg: #ffffff;
--clr-bg-alt: #F5F5F5;
--clr-font: black;
--clr-border: rgba(0, 0, 0, .5);
--clr-primary: #2EDA12;
--clr-secondary: #FF3434;
--shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);;
}

.dark {
--clr-bg: #252323;
--clr-bg-alt: #2A2A2A;
--clr-font: #ffffff;
--clr-border: rgba(255, 255, 255, .5);
--clr-primary: #5DD8FF;
--clr-secondary: #FF344A;
--shadow: 0px 4px 4px rgba(255, 255, 255, 0.05);;
}
