body {
  margin: 0;
  padding: 0;
}

.sign-up-page {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.sign-up-form-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  height: 100%;
  padding-left: 6rem;
  margin: auto;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.sign-up-first-last {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 1rem;
}

.sign-up-first-name,
.sign-up-last-name {
  display: flex;
  width: 100%;
}

.sign-up-first-name > input,
.sign-up-last-name > input {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: rgb(245, 248, 250);
  padding: 0 0.5rem;
}

.sign-up-form-elements {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.sign-up-form-email,
.sign-up-form-password,
.sign-up-form-confirm-password {
  display: flex;
  width: 100%;
}

.sign-up-form-email > input,
.sign-up-form-password > input,
.sign-up-form-confirm-password > input {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: rgb(245, 248, 250);
  padding: 0 0.5rem;
}

.sign-up-form-button-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 100px;
}

.sign-up-form-button {
  width: 137px;
  height: 48px;
  border-radius: 5px;
  border: var(--clr-border);
  padding: 5px;
  background-color: var(--clr-primary);
  color: white;
  font-weight: bold;
}

.sign-up-disclosure > p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  width: 80%;
}

.sign-up-sidebar {
  display: flex;
  flex-direction: column;
  padding: 174px 4% 0px;
  width: 40%;
  height: 100vh;
  background-color: rgb(245, 248, 250);
}

.sign-up-sidebar > h3 {
  display: flex;
  align-self: flex-start;
  font-size: 16px;
  color: var(--clr-font);
  font-family: "Roboto", sans-serif;
}

.sign-up-sidebar > p {
  display: flex;
  align-self: flex-start;
  width: 50%;
  font-size: 16px;
}
