@import "../../index.css";

.investing-for-everyone-container{
  display: flex;
  align-items: center;
  padding: 0 20%;
  border-bottom: solid black 1px;
  height: 75vh;
  background-color: rgb(195, 245, 60);
  border-bottom: solid black 1px;
}

.investing-for-everyone-desc{
  min-width: 350px;
  width: 25%;
  font-size: 24px;
}

.subcontainer-1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 30px;
  width: 45%;
  margin: 0 auto;
}

.subcontainer-1 > h1{
  font-weight: 450;
  font-size: 54px;
  width: 350px;
}

.subcontainer-2 {
  flex-direction: column;
}

.fractional-shares-container {
  display: flex;
  flex-direction: column;

  background-color: #f0ebe6;
  border-top: solid black 1px;
  padding: 0 15%;

}

.subcontainer-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 70%;
  padding: 0 30px;
}

.fractional-shares-info {
  width: 27%;
}

.ipo-container{
  width: 100%;
  max-width: 600px;
}

.ipo-info-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tools-container {
  display: flex;
  justify-content: center;
  padding: 60px;
  gap: 15.5rem;
  background-color: black;
  color: white;
}

.ipo-access-main-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.ipo-main-img {
  height: 75%;
  width: 594px;
}

.ipo-content {
  width: 50%;
}

.ipo-info-img {
  width: 40px;
  height: auto;
}

.tools-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: .1rem;
}

.tools-buttons-container > button{
  font-size: 20px;
  font-weight: 300;
}


.tool-button-active, .tool-button {
  font-size: 20px;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 30rem;
}

.subcontainer-4 > h1 {
  font-size: 54px;
}

.subcontainer-4 > p {
  font-size: 24px;
}

.subcontainer-1 > .sign-up-button {
  width: 60px;
  text-align: center;
  background-color: black;
  color: white;
}

.subcontainer-1 > .sign-up-button:hover {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.835);
  color: white;
}

.fancy-phone-img {
  padding: 50px 0;
  max-width: 70%;
}

.tool-button {
  background-color: black;

  border: none;
  color: grey;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.tool-button-active {
  background-color: black;

  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.tool-button:hover {
  color: #2eda12;
}

.tool-img{
    width: 250px;
    height: 500px;
    transition: all .5s ease-in-out;
}

.tool-img:target{
    width: 0px;
    height: 0px;
}



.footer-contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.img-1 {
  width: 650px;
  margin-bottom: 33px;
  position: absolute;
}

.video-1 {
  border: 1px solid transparent;
  padding-top: 25px;
}

.video-img {
  position: absolute;
  width: 650px;
  top: 26px;
}

.home-video-1 {
  margin-left: 9px;
  margin-right: 9px;
  width: calc(58.333% - 18px);
  display: block;
  visibility: visible;
}

.home-video-2 {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 100%;
  align-content: center;
  justify-content: center;
}

.home-video-3 {
  display: flex;
  min-height: 500px;
  min-width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;

}

.subcontainer-4{
  width: 500px;
}

.par-tools{
  color: white;
}
