/* TODO Add site wide styles */
.light {
    --clr-bg: #ffffff;
    --clr-bg-alt: #F5F5F5;
    --clr-font: black;
    --clr-border: rgba(0, 0, 0, .5);
    --clr-primary: #2EDA12;
    --clr-secondary: #FF3434;
    --shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);;
    }
    
.dark {
--clr-bg: #252323;
--clr-bg-alt: #2A2A2A;
--clr-font: #ffffff;
--clr-border: rgba(255, 255, 255, .5);
--clr-primary: #5DD8FF;
--clr-secondary: #FF344A;
--shadow: 0px 4px 4px rgba(255, 255, 255, 0.05);;
}

.investing-for-everyone-container, .container-2, .fractional-shares-container, .ipo-access-main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 30px;
    border-bottom: solid black 1px;
}

.investing-for-everyone-container{
    background-color: rgb(195,245,60);
}

.subcontainer-1 {
    padding: 10px 30px;
}

.container-2 {
    background-color : #F5F5F5;
}

.subcontainer-2 {
    flex-direction: column;
}

.fractional-shares-container{
    flex-direction: column;
    align-items: flex-start;
    background-color: #F0EBE6
}

.subcontainer-3{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 30px;

}

.fractional-shares-info{
    width: 27%;
}

.fractional-shares-side-img{
    width: 256px;
    height: 256px;
}

.ipo-info-container{
    display: flex;
    align-items: center;
    gap: 70px;
}

.container-4{
    display: flex;
}

.ipo-access-main-container{
    display: flex;
    align-items: center;

}

.ipo-main-img{
    width: 50%;
}

.ipo-content {
    width: 50%;
}

.ipo-info-img{
    width: 50px;
    height: auto;
}

.fractional-shares-info{

}

.tools-buttons-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
