.searchContainer{
    display: flex;
    flex-direction: column;
}
.filteredStocks{
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 25rem;
  margin-top: 1.4rem;
  width: 100%;
  /* background-color: grey; */
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}
