.search-bar-outer-container {
  max-width: 480px;
  width: 35%;
  border: var(--clr-border);
  border-radius: 4px;
  z-index: 400;
  background-color: var(--bp-bg);
}

.filter-shadow {
  box-shadow: 0px 12px 24px rgba(0,0,0,0.06), 0px -12px 24px rgba(0,0,0,0.02);
}

.filteredStocks {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 19.3rem;
  max-width: 480px;
  width: calc(35% - 7px);
  background-color: var(--clr-bp-bg);
  color: var(--clr-font);
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-left: 10px;
  border: var(--clr-border);
  border-top: none;
  transform: translateX(-.9px);
  margin-top: -1.4px;
  padding-top: 20px;
  z-index: -1;
}

.filteredStocks::-webkit-scrollbar {
  display: none;
}


.search-results {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  color: var(--clr-font);
  margin-bottom: 20px;
}

.search-results:hover {
  background-color: var(--clr-bg);
  color: var(--clr-font-alt);
}

.search-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  font-size: 13px;
  line-height: 20px;
  height: 34px;
  z-index: 400;
  background-color: var(--clr-bp-bg);
}

.search-bar-outer-container:hover {
  box-shadow: var(--shadow);
}

.search-input:focus {
  outline: none;
}

.search-input {
  width: 100%;
  border: none;
  height: 100%;
  background-color: var(--clr-bp-bg);
  color: var(--clr-font);
}

.search-icon {
  font-size: 22px;
  z-index: 400;
  color: #697278;
}

.search-label {
  display: flex;
  align-items: center;
  padding-left: 5px;
  height: 100%;
  z-index: 400;
  background-color: var(--clr-bp-bg);
}

.no-border {
  border-bottom: none;
  box-shadow: none;
}

.no-border:hover {
  box-shadow: none;
}

.filter-label {
  color: #697278;
}