nav {
  position: sticky;
  display: block;
  box-sizing: border-box;
  top: 0;
  z-index: 100;
  width: 100%;
}

.splash-nav{
  background: var(--clr-bg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 15px;
}

.sign-up-button {
  background-color: #2eda12;
  padding: 8px 38px;
  border-radius: 50px;
  text-emphasis: bolder;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  font-weight: 700;
  letter-spacing: -0.1px;
}

.sign-up-button:hover {
  background-color: #2dda129b;
  color: black;
}

.login-button {
  padding: 12px 30px;
  color: black;
  letter-spacing: -0.1px;
  font-weight: 700;
}

.login-button:hover {
  color: #2eda12;
}

a {
  text-decoration: none;
}

.user-actions-container {
  display: flex;
  gap: 5px;
  margin: 0;
  padding: 0;
}

.navComp {
  display: flex;
}
