.main-body {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--clr-bg);
}

.main-wrapper {
    display: flex;
    width: 70%;
    margin-top: 40px;
    justify-content: space-around;
    column-gap: 30px;
    max-width: 1030px;
    min-width: 1030px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    max-width: 700px;
}

.resolution-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    border-bottom: var(--clr-border);
}

.res-button {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 15px 0px 15px;
    border: none;
    background-color: var(--clr-bg);
    color: var(--clr-font);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    padding-bottom: .7em;
}

.active-res {
    /* background-color: var(--clr-primary); */
    color: var(--clr-font);
    /* padding: 5px 10px; */
    /* border-radius: 4px; */
    margin-bottom: -2px;
    padding-top: 2px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border-bottom: 2px solid var(--clr-font);
}

.pos-active-res{
    color: var(--clr-primary);
    border-bottom: 2px solid var(--clr-primary);
}

.neg-active-res{
    color: var(--clr-secondary);
    /* border-bottom: var(--clr-secondary); */
    border-bottom: 2px solid var(--clr-secondary);

}

.pos {
    color: var(--clr-primary);
}

.neg {
    color: var(--clr-secondary)
}

.buying-power-container {
    width: 100%;
    color: var(--clr-font);
    padding: 5px 20px;
    margin: 10px 0px;
    border-bottom: var(--clr-border);
    /* display: flex; */
    
}


.buying-power-container:hover{
    background-color: var(--clr-bg-alt);
    border-radius: 5px;
    /* width: 110%; */
}
.bp-slider{
    display: flex;
    flex-direction: column;
}

.buying-power-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 1000px;
}

.buying-power-wrapper > summary {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    padding-bottom: 5px;
    padding-top: 5px;
}
details
{
    transition: height .3s ease;
    overflow: hidden;
}

details:not([open])
{
    height: 70px;
}

.buying-power-wrapper[open]
{
    max-height: 310px;
}
.bp-err[open]{
    max-height: 345px;
}


.sumBorder{
    border-bottom: var(--clr-border);
}

.sumOpen {
    background-color: var(--clr-bp-bg);
    border-radius: 5px;
    box-shadow: 0px 12px 24px rgba(0,0,0,0.06), 0px -12px 24px rgba(0,0,0,0.02);
}

.sumOpen:hover {
    background-color: var(--clr-bp-bg-hover);
}

.graph-wrapper {
    width:100%;
}

.bp-info{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--clr-border);
}

.bp-input{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}

.pos-bp-input1, .neg-bp-input1{
    background-color: var(--clr-bg-alt);
    border: none;
    height: 2em;
    color: var(--clr-font);
    appearance: none;
    border: var(--clr-border);
}


.pos-bp-input1:hover, .neg-bp-input1:hover{
    background-color: var(--clr-input-hover);
}

.pos-bp-input1:focus{
    outline: none;
    background-color: var(--clr-bg);
    border: 1px solid var(--clr-primary);
    border-radius: 3px;
}
.neg-bp-input1:focus{
    outline: none;
    background-color: var(--clr-bg);
    border: 1px solid var(--clr-secondary);
    border-radius: 3px;
}

.pos-bp-button{
    background-color: var(--clr-primary);
    border-radius: 3px;
    padding: 10px 20px;
    width: 60%;
    font-weight: 500;
    font-size: 1.1em;
    margin: 20px 0px;
}


.neg-bp-button{
    background-color: var(--clr-secondary);
    border-radius: 3px;
    padding: 10px 20px;
    width: 60%;
    font-weight: 500;
    font-size: 1.1em;
    margin: 20px 0px;
    
}

.pos-bp-button:hover {
    background-color: var(--clr-button-hover-pos);
}

.neg-bp-button:hover {
    background-color: var(--clr-button-hover-neg)
}

.infinity {
    font-size: 30px;
    color: var(--clr-font);
}

summary > p {
    font-size: .8em;
    font-weight: 500;
}

.new-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pos-new-list-input, .neg-new-list-input{
    background-color: var(--clr-bg-alt);
    border: none;
    height: 2em;
    font-size: 1em;
    color: var(--clr-font);
    appearance: none;
    border: 1px solid var(--clr-font-alt);
    border-radius: 3px;
    margin-bottom: 20px;
}


.pos-new-list-input:hover, .neg-new-list-input:hover{
    background-color: var(--clr-input-hover);
}

.pos-new-list-input:focus{
    outline: none;
    background-color: var(--clr-bg);
    border: 1px solid var(--clr-primary);
    border-radius: 3px;
}
.neg-new-list-input:focus{
    outline: none;
    background-color: var(--clr-bg);
    border: 1px solid var(--clr-secondary);
    border-radius: 3px;
}

.new-list-buttons {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.pos-new-list-edit, .neg-new-list-edit {
    font-size: .9em;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
}

.pos-new-list-edit {
    background-color: var(--clr-primary);
}

.pos-new-list-edit:hover {
    background-color: var(--clr-button-hover-pos);
}

.neg-new-list-edit:hover {
    background-color: var(--clr-button-hover-neg);
}

.neg-new-list-edit {
    background-color: var(--clr-secondary);
}

.new-list-cancel {
    background-color: var(--clr-bp-bg);
}

.amount-cont{
    max-width: 200px;
    
}

.amount-err{
    color: var(--clr-secondary);
}



